@import '../components/AllComponents.scss';
@import '../pages/AllPages.scss';
@import './Stylenull.scss';


body {
   max-width: 100%;
	font-family: 'Noto Sans Display', sans-serif;
   overflow-y: scroll;
}
.wrapper {
   max-width: 100%;

}
.content {
   max-width: 100%;
   background-color: #fe8238;
}