.articles {
   width: 100%;
   padding: 5%;
}
.articles_container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}


.articles_section {
   width: 300px;
   margin: 0.5% 1%;
   background-color: #ed714b;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);
   .articles_section_head {

      .section_head_img {
         width: 100%;
         object-fit: contain;
      }
   }
   .section_title {
      height: 20px;
      text-align: center;
      font-weight: 700;
      color: white;
      padding: 0 5px;
      .section_title_text {
         overflow: hidden;
      }
   }
   .section_description {
      height: 50px;
      text-align: center;
      font-weight: 700;
      color: white;
      padding: 0 5px;
      .section_description_text {
         margin: 5px 0;
         overflow: hidden;
   }
   }
   .articles_section_footer {
      height: 30px;
      display: flex;
      justify-content: space-between;
      padding: 5px;
      .section_footer_statistic {
         width: 40%;
         display: flex;
         justify-content: space-between;
         .section_footer_views {
            width: 30%;
            background-image: url('../../assets/img/view.svg');
            background-repeat: no-repeat;
            background-size: contain;
         }
         .section_footer_likes {
            width: 30%;
            background-image: url('../../assets/img/like.svg');
            background-repeat: no-repeat;
            background-size: contain;
         }
         .section_footer_favorites {
            width: 30%;
            background-image: url('../../assets/img/faforiteDisabled.svg');
            background-repeat: no-repeat;
            background-size: contain;
         }
      }
      .section_footer_button {
         width: 40%;
         background-color: #1b72b5;
         color: white;
         padding: 0 0 3px 0;
         border-radius: 10px 100px / 120px;
         .section_footer_button_text {
            background-color: #1b72b5;
            color: white;
         }
      }
   }
}






