.article {
   padding: 5% 10%;
   
}
.article_container {
   box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .6),
   23px 0 20px -23px rgba(0, 0, 0, .6),
   inset 0 0 40px rgba(0, 0, 0, .1);
}

.article_img {
   object-fit: cover;
   width: 100%;
   max-height: 500px;
}

.article_container_content {
   padding: 10px;
   background-color: white;
   .article_title_h1 {
      margin: 10px 0 0 0;
      font-size: 2em;
      text-align: center;
      font-weight: 900;
   }
   .article_title_h2 {
      margin: 10px 0 0 0;
      font-size: 1.5em;
      text-align: left;
      font-weight: 700;
   }
   .article_description {
      margin: 10px 0 0 0;
      font-size: 1.3em;
      text-align: left;
   }
   .article_info_container {
      height: 40px;
      margin: 10px 0 0 0;
      display: flex;
      justify-content: flex-end;
      padding: 5px;
      .article_info_views, .article_info_likes, .article_info_favorites {
         font-size: 30px;
         margin-right: 10px;
         Cursor: pointer;
      }
   }
}