.sort {
}
.sort_container {
   display: none;
}


.sort_close {}
.sort_close_container {
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   .sort_close_img {
      color: white;
      font-size: 30px;
      margin: 0 5px 0 0;
      width: 30px;
   }
   .sort_close_text {
      background-color: #fe8238;
      width: 70%;
      border-radius: 10% / 50%;
      display: none;
      cursor: pointer;
      .sort_close_text_content {
         text-align: center;
         margin: 7px auto;
         color: white;
         font-weight: 700;
      }
   }
}

.sort_open{
   position: absolute;
   right: 0px;
   .sort_list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 5px 0 0 0;
      top: 5px;
      .sort_list_element {
         width: 200px;
         height: 30px;
         background-color: #e6e6e6;
         cursor: pointer;
         &:hover {
            box-shadow: 0 0 0 2px #313131 inset, 0 0 0 4px white inset;
            // background-color: white;
         }
         .element_text {
            text-align: center;
            margin: 8px auto;
            color: #313131;
            font-weight: 500;
            font-size: 0.9em;
         }
      }
   }
}