.navigate {
   height: 40px;
   background-color: #209CEE;
   padding: 5px;
}

.navigate_container {
   display: flex;
   justify-content: space-between;
   height: 30px;

   .category_list {
      display: flex;
      justify-content: space-between;
      @media (max-width: 380px) {
         overflow-x: scroll;
         }
      .category_list_element {
         width: 90px;
         margin: 0 2px;
         padding: 0 5px 0 5px;
         border-radius: 6px 8px 2px 6px;
         border-color: #fe8238;
         box-shadow: 0 0 40px 40px #fe8238 inset, 0 0 0 0 #fe8238;
         -webkit-transition: all 150ms ease-in-out;
         transition: all 150ms ease-in-out;
         cursor: pointer;
         &.show_active_category {
            box-shadow: 0 0 2px 0 #fe8238 inset, 0 0 2px 2px #fe8238;
         }
         &:hover {
            box-shadow: 0 0 4px 0 #fe8238 inset, 0 0 4px 2px #fe8238;
         }
         .element_text {
            text-align: center;
            margin: 7px auto;
            color: white;
            font-weight: 700;
         }
      }
   }
}

